.header {
  background: linear-gradient(
    10deg,
    #2e0145 0%,
    #2d1e2d 50%,
    #171717 100%
  ) !important;
  position: sticky;
  top: 0;
  z-index: 1100; /* Ensures it stays above other elements */
}

.searchBar {
  position: relative;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-left: 16px;
  width: 100%;
  max-width: 400px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }

  input {
    padding: 8px 8px 8px 40px;
    transition: width 0.3s ease;
    width: 100%;
    &:focus {
      width: 200px;
    }
  }
}

.promoBar {
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
}
